/* 
	Title: ws_Padding.css
	Author: Bradley Sweeten - Nexus Development Foundation
	Rel: Custom Padding Stylesheet
	Date: 04.11.2017
*/

/* Padding */
.pt_0 {padding-top:0 !important;}
.pb_5{padding-bottom:5px !important;}
.pb_10 {padding-bottom:10px !important;}
.p_tb_10 {padding: 10 0 !important;}
.p_t_5 {padding-top:5px !important;}
.p_t_10 {padding-top:10px !important;}
.p_t_b_5{padding:5px 0 !important;}

/* PADDING LEFT */
.pl_0 {padding-left:0 !important;}
.pl_10 {padding-left:10px !important;}
.pl_50{padding-left:50px !important;}
.pl_100{padding-left:100px !important;}

/* PADDING RIGHT */
.pr_0 {padding-right:0 !important;}

/* PADDING OTHER */
.plr_0 {padding: 0 0 0 0 !important;}
.p_lr_15 {padding: 0 15px !important;}
.p_all_5 {padding:5px !important;}
.p_all_10 {padding:10px !important;}
.p_all_20 {padding:20px !important;}
.p_5_10_10_10{
	padding:5px 10px 10px 10px !important;
}
.pr_neg_15{
	padding-right:0 !important;
}

.no_padding{
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
}